<div class="layout">
  <app-header></app-header>
  <div class="content">
    <div class="toolbar">
      <button class="add-task" (click)="openForm.emit()">
        <img src="add.svg" alt="" class="icon" />
        タスクを追加
      </button>
      <button class="open-calendar secondary" (click)="openCalendar.emit()">
        <img src="calendar.svg" alt="カレンダーを開く" class="icon" />
      </button>
    </div>
    <app-gantt-chart #ganttChart [tasks]="tasks"></app-gantt-chart>
    @if (calendarVisible) {
      <app-calendar-modal
        (confirm)="onCalendarConfirm($event)"
        (close)="closeCalendar.emit()"
      ></app-calendar-modal>
    }
    @if (formVisible) {
      <div class="task-dialog" (click)="closeForm.emit()">
        <div class="dialog" (click)="$event.stopPropagation()">
          <h2>タスク追加</h2>
          <app-task-form
            (save)="create.emit($event); closeForm.emit()"
          ></app-task-form>
          <div class="actions">
            <button class="close" (click)="closeForm.emit()">閉じる</button>
          </div>
        </div>
      </div>
    }
  </div>
  <app-footer [dateTime]="dateTime"></app-footer>
</div>
