form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

button {
  margin-top: 16px;
}
