<!-- NOTE: AGENTS.md dependency rules verified: staying within View layer -->
<div class="gantt-container" (click)="closeFilterPopup()">
  <div class="scroll-host" #scrollHost>
    <table class="gantt-table">
      <thead>
        <!-- 1行目：左6列は実際に rowspan=2（タスクヘッダーは1セルで2行分） -->
        <tr class="head-1">
          <th class="h sticky-left col-type" rowspan="2">
            <span>タスク分類</span>
            <img
              src="sort.svg"
              alt="ソート"
              class="sort-icon"
              (click)="toggleFilterPopup('type', $event)"
            />
            @if (filterPopup === "type") {
              <div class="filter-popup" (click)="$event.stopPropagation()">
                <input
                  type="text"
                  class="filter-input"
                  [(ngModel)]="filters.type.keyword"
                />
                <div class="options">
                  @for (opt of getFilteredOptions("type"); track opt) {
                    <label>
                      <input
                        type="checkbox"
                        [checked]="filters.type.selected.has(opt)"
                        (change)="
                          onFilterChange('type', opt, $event.target.checked)
                        "
                      />
                      {{ opt }}
                    </label>
                  }
                </div>
              </div>
            }
          </th>
          <th class="h sticky-left col-name" rowspan="2">
            <span>タスク名</span>
            <img
              src="sort.svg"
              alt="ソート"
              class="sort-icon"
              (click)="toggleFilterPopup('name', $event)"
            />
            @if (filterPopup === "name") {
              <div class="filter-popup" (click)="$event.stopPropagation()">
                <input
                  type="text"
                  class="filter-input"
                  [(ngModel)]="filters.name.keyword"
                />
                <div class="options">
                  @for (opt of getFilteredOptions("name"); track opt) {
                    <label>
                      <input
                        type="checkbox"
                        [checked]="filters.name.selected.has(opt)"
                        (change)="
                          onFilterChange('name', opt, $event.target.checked)
                        "
                      />
                      {{ opt }}
                    </label>
                  }
                </div>
              </div>
            }
          </th>
          <th class="h sticky-left col-assignee" rowspan="2">
            <span>担当者</span>
            <img
              src="sort.svg"
              alt="ソート"
              class="sort-icon"
              (click)="toggleFilterPopup('assignee', $event)"
            />
            @if (filterPopup === "assignee") {
              <div class="filter-popup" (click)="$event.stopPropagation()">
                <input
                  type="text"
                  class="filter-input"
                  [(ngModel)]="filters.assignee.keyword"
                />
                <div class="options">
                  @for (opt of getFilteredOptions("assignee"); track opt) {
                    <label>
                      <input
                        type="checkbox"
                        [checked]="filters.assignee.selected.has(opt)"
                        (change)="
                          onFilterChange('assignee', opt, $event.target.checked)
                        "
                      />
                      {{ opt }}
                    </label>
                  }
                </div>
              </div>
            }
          </th>
          <th class="h sticky-left col-start" rowspan="2">開始日</th>
          <th class="h sticky-left col-end" rowspan="2">終了日</th>
          <th class="h sticky-left col-progress" rowspan="2">進捗率</th>

          @for (month of months; track month.label) {
            <th
              class="h month"
              [attr.colspan]="month.days"
              [style.backgroundColor]="monthColors[month.month - 1]"
            >
              {{ month.label }}
            </th>
          }
        </tr>

        <!-- 2行目：日付 -->
        <tr class="head-2">
          @for (date of dateRange; track date; let i = $index) {
            <th
              class="h date-col"
              [attr.data-idx]="i"
              [class.month-boundary]="isMonthStart(date) && i !== 0"
              (mouseenter)="onColumnMouseEnter(i)"
              (mouseleave)="onColumnMouseLeave()"
              [class.column-hover]="hoveredColIdx === i"
            >
              {{ date | date: "dd" }}
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of emptyRows; track $index; let i = $index) {
          @if (taskViews[i]; as view) {
            <tr (click)="onRowClick(view)">
              <td class="sticky-left col-type">{{ view.task.type }}</td>
              <td class="sticky-left col-name">{{ view.task.name }}</td>
              <td class="sticky-left col-assignee">{{ view.task.assignee }}</td>
              <td class="sticky-left col-start">
                {{ view.task.start | date: "yyyy-MM-dd" }}
              </td>
              <td class="sticky-left col-end">
                {{ view.task.end | date: "yyyy-MM-dd" }}
              </td>
              <td class="sticky-left col-progress">
                {{ view.task.progress }}%
              </td>

              @for (date of dateRange; track date; let j = $index) {
                <td
                  class="day"
                  (mousedown)="onCellMouseDown($event, i, j)"
                  (mouseenter)="onColumnMouseEnter(j)"
                  (mouseleave)="onColumnMouseLeave()"
                  [class.column-hover]="hoveredColIdx === j"
                  [class.focused]="isFocusedCell(i, j)"
                  [class.progress]="isProgress(view, date)"
                  [class.planned]="isPlanned(view, date)"
                  [class.progress-start]="isProgressStart(view, date)"
                  [class.progress-end]="isProgressEnd(view, date)"
                  [class.planned-start]="isPlannedStart(view, date)"
                  [class.planned-end]="isPlannedEnd(view, date)"
                  [class.month-boundary]="isMonthStart(date) && j !== 0"
                ></td>
              }
            </tr>
          } @else {
            <tr>
              <td class="sticky-left col-type"></td>
              <td class="sticky-left col-name"></td>
              <td class="sticky-left col-assignee"></td>
              <td class="sticky-left col-start"></td>
              <td class="sticky-left col-end"></td>
              <td class="sticky-left col-progress"></td>

              @for (date of dateRange; track date; let j = $index) {
                <td
                  class="day"
                  (mousedown)="onCellMouseDown($event, i, j)"
                  (mouseenter)="onColumnMouseEnter(j)"
                  (mouseleave)="onColumnMouseLeave()"
                  [class.column-hover]="hoveredColIdx === j"
                  [class.focused]="isFocusedCell(i, j)"
                  [class.month-boundary]="isMonthStart(date) && j !== 0"
                ></td>
              }
            </tr>
          }
        }
      </tbody>
    </table>
    <div class="memo-layer">
      @for (memo of memos; track memo.id) {
        <app-memo
          [memo]="memo"
          [editing]="editingMemoId === memo.id"
          (memoMouseDown)="onMemoMouseDown($event, memo)"
          (memoMouseUp)="onMemoMouseUp($event, memo)"
          (memoResizeMouseDown)="onMemoResizeMouseDown($event, memo)"
          (memoBlur)="onMemoBlur($event, memo)"
          (editToggle)="toggleEdit(memo, $event.el, $event.event)"
        ></app-memo>
      }
    </div>
  </div>
  <div
    class="h-scrollbar"
    #hScrollbar
    (mousedown)="onScrollbarMouseDown($event)"
  >
    <div class="h-scrollbar-thumb" #hScrollbarThumb></div>
  </div>
</div>
