<app-schedule-layout
  [tasks]="tasks()"
  [memos]="memos()"
  [formVisible]="isFormVisible()"
  [memoVisible]="isMemoVisible()"
  [calendarVisible]="isCalendarVisible()"
  [taskDetailVisible]="isTaskDetailVisible()"
  [selectedTask]="selectedTask()"
  [editingTask]="editingTask()"
  [dateTime]="dateTime()"
  (openForm)="openForm()"
  (closeForm)="closeForm()"
  (openMemo)="openMemo()"
  (closeMemo)="closeMemo()"
  (memoCreate)="onMemoCreate($event)"
  (memoChange)="onMemoChange($event)"
  (openCalendar)="openCalendar()"
  (closeCalendar)="closeCalendar()"
  (create)="onSave($event)"
  (logout)="onLogout()"
    (openTaskDetail)="openTaskDetail($event)"
    (closeTaskDetail)="closeTaskDetail()"
    (editTask)="onEdit($event)"
    (deleteTask)="onDelete($event)"
    (progressInput)="onProgressInput($event)"
  ></app-schedule-layout>
