<app-schedule-layout
  [tasks]="tasks()"
  [memos]="memos()"
  [formVisible]="isFormVisible()"
  [memoVisible]="isMemoVisible()"
  [calendarVisible]="isCalendarVisible()"
  [dateTime]="dateTime()"
  [selectedTask]="selectedTask()"
  [editingTask]="editingTask()"
  (openForm)="openForm()"
  (closeForm)="closeForm()"
  (openMemo)="openMemo()"
  (closeMemo)="closeMemo()"
  (memoCreate)="onMemoCreate($event)"
  (memoChange)="onMemoChange($event)"
  (openCalendar)="openCalendar()"
  (closeCalendar)="closeCalendar()"
  (save)="onSave($event)"
  (taskSelect)="onTaskSelect($event)"
  (taskClose)="closeTaskModal()"
  (taskEdit)="onEditTask($event)"
  (taskDelete)="onDeleteTask($event)"></app-schedule-layout>
